# Python
__pycache__/
*.py[cod]

# Poetry
/.venv/
/.pytest_cache/
poetry.lock

# vscode
.vscode

# Coverage
coverage.xml
.coverage

dist/

# Local
db/

# Env
.env.development
.env.production
.env.staging


# Test env
test.db
