# Python
__pycache__/
*.py[cod]

# Poetry
/.venv/
/.pytest_cache/
poetry.lock
requirements.txt

# vscode
.vscode

# Coverage
coverage.xml
.coverage

dist/

# Local
db/
Build

# Env
.env.development
.env.production
.env.staging

# Test env
test.db

# Intelij
.idea